name: Test

permissions:
  contents: read

on:
  push:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Check rust version
        run: rustup --version
      - name: Build
        run: |
          rustup target add x86_64-linux-android
          export CC_x86_64_linux_android=$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/x86_64-linux-android30-clang
          export CXX_x86_64_linux_android=$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/x86_64-linux-android30-clang++
          export AR_x86_64_linux_android=$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar
          export RANLIB_x86_64_linux_android=$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ranlib
          export STRIP_x86_64_linux_android=$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-strip
          export CARGO_TARGET_X86_64_LINUX_ANDROID_LINKER=$CC_x86_64_linux_android
          export CLANG_PATH=$CC_x86_64_linux_android
          cargo build --release --target x86_64-linux-android
      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          path: ./target/x86_64-linux-android/release/tester

  test:
    name: Test
    runs-on: macos-15-intel
    needs: build
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
      - name: Set permission
        run: sudo chmod +x ./tester
      - name: Test
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 30
          arch: x86_64
          script: |
            adb push ./tester /data/local/tmp/
            adb shell "cd /data/local/tmp && chmod +x tester && ./tester"
