name: Test

permissions:
  contents: read

on:
  push:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Check rust version
        run: rustup --version
      - name: Build
        run: |
          rustup target add aarch64-linux-android
          export CC_aarch64_linux_android=$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android30-clang
          export CXX_aarch64_linux_android=$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android30-clang++
          export AR_aarch64_linux_android=$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar
          export RANLIB_aarch64_linux_android=$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ranlib
          export STRIP_aarch64_linux_android=$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-strip
          export CARGO_TARGET_AARCH64_LINUX_ANDROID_LINKER=$CC_aarch64_linux_android
          export CLANG_PATH=$CC_aarch64_linux_android
          cargo build --release --target aarch64-linux-android
      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          path: ./target/aarch64-linux-android/release/tester

  test:
    name: Test
    runs-on: macos-latest
    needs: build
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
      - name: Set permission
        run: sudo chmod +x ./tester
      - name: Test
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 30
          target: google_apis
          arch: arm64-v8a # https://github.com/ReactiveCircus/android-emulator-runner/issues/453
          script: |
            adb push ./tester /data/local/tmp/
            adb shell "cd /data/local/tmp && chmod +x tester && ./tester"
